le# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
obento_env/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
**/.DS_Store
upload/